<!DOCTYPE html>
<html>
<head>
    <title>电影</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
</head>
<body>
<div class="all">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search" style="padding-left: 17%;font-weight:lighter;">
        <p class="title col-lg-4 col-md-8 col-sm-8 col-xs-8 ">思沃影院</p>
    </div>
    <div class="sea_input">
        <input type="text" id="search_name" placeholder="搜索电影" style="width: 16%;height: 35px;margin-top: 10px;margin-left: 60%;">
        <input type="button" value="搜索" id="search_button" class="btn" style="width: 3%;height: 34px;margin-left: 0;padding-left: 0.5%;background-color: #f0f0f0;color: black;">
    </div>
    <div class="nav" style=" padding-left: 17%;">
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1 colorBag" style="width: 4%;"><a href="#" class="movClass">全部</a></div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1 colorBag" style="width: 3%;padding: 0;"><a href="#"  class="movClass" style="">剧情</a></div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1 colorBag" style="width: 3%;padding: 0;"><a href="#"  class="movClass">家庭</a></div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1 colorBag" style="width: 3%;padding: 0;"><a href="#"  class="movClass">奇幻</a></div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1 colorBag" style="width: 3%;padding: 0;"><a href="#" class="movClass">爱情</a></div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1 colorBag" style="width: 3%;padding: 0;"><a href="#" class="movClass">喜剧</a></div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1 colorBag" style="width: 3%;padding: 0;"><a href="#" class="movClass">同性</a></div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1 colorBag" style="width: 3%;padding: 0;"><a href="#" class="movClass">音乐</a></div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1 colorBag" style="width: 3%;padding: 0;"><a href="#" class="movClass">动作</a></div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1 colorBag" style="width: 3%;padding: 0;"><a href="#" class="movClass">动画</a></div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1 colorBag" style="width: 3%;padding: 0;"><a href="#" class="movClass">冒险</a></div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1 colorBag" style="width: 3%;padding: 0;"><a href="#" class="movClass">儿童</a></div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1 colorBag" style="width: 3%;padding: 0;"><a href="#" class="movClass">科幻</a></div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1 colorBag" style="width: 3%;padding: 0;"><a href="#" class="movClass">历史</a></div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1 colorBag" style="width: 3%;padding: 0;"><a href="#" class="movClass">战争</a></div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1 colorBag" style="width: 3%;padding: 0;"><a href="#" class="movClass">犯罪</a></div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1 colorBag" style="width: 3%;padding: 0;margin: 0px;"><a href="#" class="movClass">奇幻</a></div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-1 colorBag" style="width: 3%;padding: 0;margin: 0px;"><a href="#" class="movClass">悬疑</a></div>
    </div>
    <div class="movie">

    </div>
    <div class="footer">
        <p class="school">@华北理工大学</p>
    </div>
</div>
</body>
<script type="application/javascript" src="/assets/js/jquery-2.1.1.min.js"></script>
<script type="application/javascript" src="/assets/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        //加载全部电影
        var str = "";
        $.ajax({
            'url':'/allMovie/movieList',
            'type':'GET',
            'success':function (reData) {
                innerFun(reData);
            }
        });
    });

    //点击分类显示电影
    $(".movClass").click(function () {
        var className = $(this).text();
        if(className !== ""){
            var data = {
                className:className
            }
            $.ajax({
                'url':'/allMovie/movieList',
                'type':'POST',
                'datatype':'json',
                'data':data,
                'success':function (reData) {
                    $(".movie").empty();
                    innerFun(reData);
                }
            });
        }
    });

    function innerFun(reData) {
        if(reData){
            var len = reData.length;
            var i = 0;
            for(var n=0;n<len;n++) {
                if(n % 4 === 0){
                    var framework = "<div class='row"+ i +"' style='width: 66%;height: 350px;margin-left: 17%;ma'></div>" ;
                    $(".movie").append(framework);
                    i++;
                    str ="";
                }
                var score = reData[n].rating;
                score = String(score);
                str += "<div class='col-lg-2 col-md-3 col-sm-3 col-xs-3' style='margin-left: 2%;'>" +
                    "<img src='" + reData[n].image + "' alt='" + reData[n].title + "' style='width:170px;height: 240px;'>";
                if (reData[n].title.length > 10) {
                    str += "<a href='' class='movieName' onclick='changeUrl()' style='color: #383838;font-size: 16px;padding-top:5%;'>" + reData[n].title.substring(0, 8) + "...</a>";
                } else {
                    str += "<a href='javascript:void(0)' onclick='changeUrl()' class='movieName' onclick='changeUrl()' style='color: #383838;font-size: 16px;padding-top:5%;'>" + reData[n].title + "</a>";
                }
                str += "<span style='position:absolute;right: 19px;color: #ff722c;font-size: 20px;'>" + score[0] + "<span class='point'>." + score[2] + "</span></span>";
                if(reData[n].description.length > 12){
                    str += "<p class='introduce'>"+ reData[n].description.substring(0,11) +"...</p>";
                } else {
                    str += "<p class='introduce'>"+ reData[n].description +"</p>";
                }
                str += "</div>"

                $(".row"+(i-1)).empty().append(str);
            }
        }
    }

    //搜索电影
    $("#search_button").click(function () {
        var searh_movie = $("#search_name").val();
        if(searh_movie !== ""){
            var data = {
                movieName:searh_movie
            }
            $.ajax({
                'url':'/movieInfo/searchMovie',
                'type':'POST',
                'data':data,
                'success':function (msg) {
                    if(msg){

                    }
                }
            });
        } else {
            alert("请输入要搜索的电影名称！");
        }
    });

    //点击电影名称查看电影
    $('body').on('click', '.movieName', function () {
       var movieName = $(this).text().replace(/(^\s*)|(\s*$)/g, "");
       if(movieName){
           var data = {
               movieName: movieName
           }
            $.ajax({
                'url': '/movieInfo/searchMovie',
                'type': 'POST',
                'data': data,
                'success': function (result) {

                }
            })
       }
    });

    function changeUrl() {
        window.location.href = "movieInfo";
    }

    $('.colorBag').hover(function () {
        $(this).addClass('colorBags');
    },function () {
        $(this).removeClass('colorBags');
    });
</script>
</html>
