<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>思沃影院</title>
    <link rel="stylesheet" href="/stylesheets/other/style.css">
    <link rel="stylesheet" href="/stylesheets/other/chooseMovie.css">
    <script src="/assets/js/jquery-2.1.1.min.js"></script>
    <script src="/js/app.js"></script>

</head>

<style>
    .fontBackgroundColor {
        background: #4b8ccb;
        color: #ffffff;
    }
</style>

<body>
<div class="navbar">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">思沃影院</a>
        </div>
        <div class="navbar-input">
            <input class="form-control" type="text" placeholder="请输入电影名或导演或演员" id="movieRelatedInfo">
            <input class="form-sub" type="submit" value="搜索" id="submit">
        </div>
    </div>
    <hr style="clear: both;border: 1px solid #e5ebe4">
    <div class="nav-second">
        <ul>
            <li><a href="javascript:void(0)">影讯&购票</a></li>
            <li><a href="/allMovie">选电影</a></li>
            <li><a href="javascript:void(0)">电视剧</a></li>
            <li><a href="javascript:void(0)">排行榜</a></li>
            <li><a href="javascript:void(0)">分类</a></li>
            <li><a href="javascript:void(0)">影评</a></li>
            <li><a href="javascript:void(0)">2017年度榜单</a></li>
            <li><a href="javascript:void(0)">2017观影报告</a></li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="hot">
        <div class="headbar">
            <h1>选电影</h1>
            <div class="tags">
                <div class="tag-list">
                    <label class="a1 fontBackgroundColor">
                        <input type="radio" name="tag" value="剧情" checked="checked" onclick="loadPage()">剧情
                    </label>
                    <label class="a1">
                        <input type="radio" name="tag" value="家庭" onclick="loadPage()">家庭
                    </label>
                    <label class="a1">
                        <input type="radio" name="tag" value="奇幻" onclick="loadPage()">奇幻
                    </label>
                    <label class="a1">
                        <input type="radio" name="tag" value="爱情" onclick="loadPage()">爱情
                    </label>
                    <label class="a1">
                        <input type="radio" name="tag" value="动画" onclick="loadPage()">动画
                    </label>
                    <label class="a1">
                        <input type="radio" name="tag" value="冒险" onclick="loadPage()">冒险
                    </label>
                    <label class="a1">
                        <input type="radio" name="tag" value="动作" onclick="loadPage()">动作
                    </label>
                    <label class="a1">
                        <input type="radio" name="tag" value="历史" onclick="loadPage()">历史
                    </label>
                    <label class="a1">
                        <input type="radio" name="tag" value="战争" onclick="loadPage()">战争
                    </label>
                    <label class="a1">
                        <input type="radio" name="tag" value="犯罪" onclick="loadPage()">犯罪
                    </label>
                    <label class="a1">
                        <input type="radio" name="tag" value="悬疑" onclick="loadPage()">悬疑
                    </label>
                    <label class="a1">
                        <input type="radio" name="tag" value="惊悚" onclick="loadPage()">惊悚
                    </label>
                    <label class="a1">
                        <input type="radio" name="tag" value="喜剧" onclick="loadPage()">喜剧
                    </label>
                    <label class="a1">
                        <input type="radio" name="tag" value="科幻" onclick="loadPage()">科幻
                    </label>
                    <label class="a1">
                        <input type="radio" name="tag" value="恐怖" onclick="loadPage()">恐怖
                    </label>
                    <label class="a1">
                        <input type="radio" name="tag" value="西部" onclick="loadPage()">西部
                    </label>
                    <label class="a1">
                        <input type="radio" name="tag" value="古装" onclick="loadPage()">古装
                    </label>
                    <label class="a1">
                        <input type="radio" name="tag" value="纪录片" onclick="loadPage()">纪录片
                    </label>
                </div>

                <div class="custom-frm" data-type="tag">
                    <input type="text">
                    <button>确定</button>
                </div>
            </div>
        </div>

        <div class="tool">
            <div class="sort">
                <label>
                    <input type="radio" name="sort" value="rating" checked="checked" onclick="loadPage()">按评分排序
                </label>
                <label>
                    <input type="radio" name="sort" value="year" onclick="loadPage()">按时间排序
                </label>
                <label>
                    <input type="radio" name="sort" value="" onclick="loadPage()">按评价排序
                </label>
            </div>

            <div class="check">
                <label>
                    <input type="checkbox" name="watched" class="">我没看过的
                </label>
                <label>
                    <input type="checkbox" name="playable">可在线播放
                </label>
            </div>
            <input type="hidden" name="page_limit" value="20">
            <input type="hidden" name="page_start" value="0">
        </div>

        <div class="movieInfoList">

        </div>

        <div class="more showOther" id="">显示全部影片</div>
    </div>
</div>




<div class="nav-footer">
    <div id="footer">
        <div class="footer-extra"></div>

        <span id="icp" class="fleft gray-link">
                © 2018.1－2018.2, all rights reserved "哦"小分队
            </span>

        <a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

        <span class="fright">
            <a href="https://www.douban.com/about">关于"哦"小分队</a>
            · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
            · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>

            · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
            · <a href="https://www.douban.com/doubanapp/">移动应用</a>
        </span>
    </div>
</div>
</body>
</body>

<script>
    $(document).ready(function () {
	    var counter = 0; /*计数器*/
	    var Start = 0; /*offset*/
	    var Size = 20; /*size*/

	    loadMovieList(Start, Size);

	    /*监听加载更多*/
	    $(".showOther").click(function () {
		    counter ++;
		    Start = counter * Size;

		    loadMovieList(Start, Size);
	    });
    });

    function loadPage() {
	    $(".movieInfoList").empty();
//	    counter = 0;
//	    pageStart = 0;
//	    pageSize = 20;
	    /*初始化*/
	    var counter = 0; /*计数器*/
	    var pageStart = 0; /*offset*/
	    var pageSize = 20; /*size*/

	    loadMovieList(pageStart, pageSize);

	    /*监听加载更多*/
	    $(".showOther").click(function () {
		    counter ++;
		    pageStart = counter * pageSize;
		    loadMovieList(pageStart, pageSize);
	    });
    };



    /**
     * 根据关键词和排序方式排序显示
     */
    function loadMovieList(offset,size) {
	    var genre = $('input:radio[name="tag"]:checked').val();
	    var other = $('input:radio[name="sort"]:checked').val();


	    var success = function (data) {
	    	var sum = data.length;        // 获取总长度

            if (sum - offset < size){
                size = sum - offset;
            }

            for (var i = offset;i < (offset + size);i++){
                $(".movieInfoList").append(`
                     <div class="item">
                         <a href="/movieInfo/`+ data[i].id +`">
                            <img src="`+ data[i].image +`">
                            <h4>
                                <a href="/movieInfo/`+ data[i].id +`">`+ data[i].title +`</a>
                            </h4>
                            <p>`+ data[i].rating +`</p>
                         </a>
                     </div>
                `);
            }

		    if ( (offset + size) >= sum){
			    $(".showOther").hide();
		    }else{
			    $(".showOther").show();
		    }
//		    alert(size)
	    };
	    Get("/allMovie/getInfo/" + genre + "/" + other,success);
    }




    /**
     * 点击换色功能
     */
    $(".a1").click(function () {
	    $(".a1").removeClass("fontBackgroundColor");
	    $(this).addClass("fontBackgroundColor");
    });
    $("#submit").click(function () {
	    var movieRelatedInfo = $("#movieRelatedInfo").val();
	    if (movieRelatedInfo != ""){
		    window.open("/searchMovieList/" + movieRelatedInfo);
	    } else {
		    alert("输入条件不能为空")
	    }
    });
</script>


</html>