<!DOCTYPE html>
<html>
<head>
    <title>电影</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
</head>
<body>
    <div class="all">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search" style="padding-left: 17%;font-weight:lighter;">
            <p class="title col-lg-4 col-md-8 col-sm-8 col-xs-8 ">思沃影院</p>
        </div>
        <div class="sea_input">
            <input type="text" placeholder="搜索电影" style="width: 16%;height: 35px;margin-top: 10px;margin-left: 60%;">
            <input type="button" value="搜索" class="btn  " style="width: 3%;height: 34px;margin-left: 0;padding-left: 0.5%;background-color: #f0f0f0;color: black;">
        </div>
        <div class="nav" style=" padding-left: 17%;">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1" style="width: 5%;">全部</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1" style="width: 5%;padding: 0;">偶像爱情</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1" style="width: 5%;padding: 0;">宫斗权谋</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1" style="width: 5%;padding: 0;">玄幻史诗</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1" style="width: 5%;padding: 0;">都试生活</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1" style="width: 5%;padding: 0;">罪案谍战</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1" style="width: 4%;padding: 0;">喜剧</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1" style="width: 5%;padding: 0;">青春校园</div>
        </div>
        <div class="movie">
            <div class="row_1">
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                    <img src="/picture/1.png" alt="降魔转">
                    <a href="#" style="color: #383838;font-size: 16px;padding-top: 5%;">降魔转</a>
                    <span class="score">7<span class="point">.5</span></span>
                    <p class="introduce">张雨绮狂虐郑凯</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <img src="/picture/2.png" alt="唐人街探案">
                    <a href="#" style="color: #383838;font-size: 16px;padding-top: 5%;">唐人街探案</a>
                    <span style="padding-left: 38%;color: #ff722c;font-size: 20px;">8<span style="font-size: 17px;">.4</span></span>
                    <p class="introduce">王宝强耍宝破大案</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <img src="/picture/3.png" alt="阿凡达">
                    <a href="#" style="color: #383838;font-size: 16px;padding-top: 5%;">阿凡达</a>
                    <span class="score">9<span class="point">.5</span></span>
                    <p class="introduce">外星人抵抗人类拆迁队</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <img src="/picture/4.png" alt="追捕">
                    <a href="#" style="color: #383838;font-size: 16px;padding-top: 5%;">追捕</a>
                    <span style="padding-left: 65%;color: #ff722c;font-size: 20px;">8<span class="point">.1</span></span>
                    <p class="introduce">张涵予亡命天涯</p>
                </div>
            </div>
            <div class="row_2">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3" >
                    <img src="/picture/5.png" alt="恋人未满">
                    <a href="#" style="color: #383838;font-size: 16px;padding-top: 5%;">恋人未满</a>
                    <span style="padding-left: 45%;color: #ff722c;font-size: 20px;">6<span class="point">.9</span></span>
                    <p class="introduce">张雨绮狂虐郑凯</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <img src="/picture/6.png" alt="星际穿越">
                    <a href="#" style="color: #383838;font-size: 16px;padding-top: 5%;">星际穿越</a>
                    <span style="padding-left: 45%;color: #ff722c;font-size: 20px;">7<span class="point">.9</span></span>
                    <p class="introduce">看哭100次的科幻片</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <img src="/picture/7.png" alt="前任攻略">
                    <a href="#" style="color: #383838;font-size: 16px;padding-top: 5%;">前任攻略</a>
                    <span style="padding-left: 45%;color: #ff722c;font-size: 20px;">7<span class="point">.7</span></span>
                    <p class="introduce">郑凯韩庚激情热吻</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <img src="/picture/8.png" alt="黑鹰坠落">
                    <a href="#" style="color: #383838;font-size: 16px;padding-top: 5%;">黑鹰坠落</a>
                    <span style="padding-left: 45%;color: #ff722c;font-size: 20px;">8<span class="point">.6</span></span>
                    <p class="introduce">精英小分队深入敌军</p>
                </div>
            </div>
            <div class="row_3">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3" >
                    <img src="/picture/9.png" alt="大清极品赌仙">
                    <a href="#" style="color: #383838;font-size: 16px;padding-top: 5%;">大清极品赌仙</a>
                    <span style="padding-left: 24%;color: #ff722c;font-size: 20px;">7<span class="point">.3</span></span>
                    <p class="introduce">中日赌术大作战</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <img src="/picture/10.png" alt="千术3决战澳门">
                    <a href="#" style="color: #383838;font-size: 16px;padding-top: 5%;">千术3决战澳门</a>
                    <span style="padding-left: 23%;color: #ff722c;font-size: 20px;">7<span class="point">.7</span></span>
                    <p class="introduce">赌坛恶少再掀澳门风云</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <img src="/picture/11.png" alt="肖申克的救赎">
                    <a href="#" style="color: #383838;font-size: 16px;padding-top: 5%;">肖申克的救赎</a>
                    <span style="padding-left: 24%;color: #ff722c;font-size: 20px;">7<span class="point">.5</span></span>
                    <p class="introduce">张雨绮狂虐郑凯</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <img src="/picture/12.png" alt="深宫怨灵">
                    <a href="#" style="color: #383838;font-size: 16px;padding-top: 5%;">深宫怨灵</a>
                    <span style="padding-left: 45%;color: #ff722c;font-size: 20px;">6<span class="point">.8</span></span>
                    <p class="introduce">揭秘清宫十大灵异密案</p>
                </div>
            </div>
            <div class="row_4">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3" >
                    <img src="/picture/13.png" alt="杀无赦">
                    <a href="#" style="color: #383838;font-size: 16px;padding-top: 5%;">杀无赦</a>
                    <span class="score">7<span class="point">.3</span></span>
                    <p class="introduce">背水一战</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <img src="/picture/14.png" alt="我的同桌是极品">
                    <a href="#" style="color: #383838;font-size: 16px;padding-top: 5%;">我的同桌是极品</a>
                    <span style="padding-left: 20%;color: #ff722c;font-size: 20px;">6<span class="point">.8</span></span>
                    <p class="introduce">张雨绮狂虐郑凯</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <img src="/picture/15.png" alt="英伦对决">
                    <a href="#" style="color: #383838;font-size: 16px;padding-top: 5%;">英伦对决</a>
                    <span style="padding-left: 45%;color: #ff722c;font-size: 20px;">8<span class="point">.7</span></span>
                    <p class="introduce">成龙对决“007”</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <img src="/picture/16.png" alt="功夫">
                    <a href="#" style="color: #383838;font-size: 16px;padding-top: 5%;">功夫</a>
                    <span style="padding-left: 62%;color: #ff722c;font-size: 20px;">9<span class="point">.2</span></span>
                    <p class="introduce">一支穿云箭千军来相见</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <p class="school">@华北理工大学</p>
        </div>
    </div>
</body>
<script type="application/javascript" src="/assets/js/jquery-2.1.1.min.js"></script>
<script type="application/javascript" src="/assets/js/bootstrap.min.js"></script>
</html>
