<!DOCTYPE html>
<html>
  <head>
    <title>个人信息</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>昵称为：<%= name %></p>
    <p>性别为： <%= sex %></p>
    <p>手机号为： <%= phoneNumber %></p>
  </body>


</html>

